rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{userId}/{allPaths=**} {
      allow read: if hasContributorRole() && request.auth.uid == userId;
      allow create: if hasContributorRole() && request.auth.uid == userId
                    && request.resource.size < 5 * 1024 * 1024
                    && request.resource.contentType.matches('image/.*');
      allow delete: if hasContributorRole() && request.auth.uid == userId;
    }

    function hasContributorRole() {
      return request.auth.uid == "yNCLbEO9obWSbnC3M4jph01CbZB2";
    }
  }
}
